.logo{
    text-align: center;
}
body{
    background-image: url(../PICS/باك\ جراوند\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}
.pic{
    padding: 50px 0px 0px 0px;
    width: 1100px; 
}
h1{
    font-family: 'Cairo', sans-serif;
    text-shadow: 1px 1px 3px #ffffff;
    color: #001E92;
}
.imge{
    text-align: center;
    padding: 0px 150px;
    font-family: 'Cairo', sans-serif;
}
hr{
    height: 40px;
    opacity: 0;
}
*{
    box-sizing: border-box;
    padding: 0%;
}
li, a, button{
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(0, 0, 0);;
    text-decoration: none;
    text-transform: capitalize;
    text-shadow: 1px 1px 3px #ffffff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    margin: 1%;
   
}
.flag{
    cursor: pointer;
    height:80px;
}
.links{
    list-style: none;

}
.links li{
    display: inline-block;
    padding: 0px 20px;

}
.links li a {
    transition: all 0.3s ease 0s;
    color: #001E92;
}
.links li a:hover {
    color:rgb(255, 255, 255);
}
button{
    padding: 9px 25px ;
    background-color: #001E92;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #FFFFFF;
}
button:hover{
    background-color: #020b2d;
}
.f{
    color: #001E92;
}
.a{
    color: #FFFFFF;
}
.c{
    color: #EE2436;
}
.image_body{
    padding: 5%;
}
p{
    font-size: 22px;
    background-color: #242529;
    color: white;
    border-radius: 50px;
    padding: 25px;
}
.icon{
    height: 35px;
    padding-top: 10px;
}

.footer{
    background-color: #242529;
    padding: 70px 0px;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
display: flex;
flex-wrap: wrap;
}

ul{
    list-style: none;
}
.footer-col{
width: 33%;
padding: 0 100px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-family: 'Cairo', sans-serif;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -10px;
    background-color: #00197f;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li :not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;  
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
}